.start-button{
    -fx-background-radius: 15;
    -fx-background-color: linear-gradient(to left,#ff3333, #ff8533);
}

.skins-button{
    -fx-background-radius: 15;
    -fx-background-color: linear-gradient(to left,#1a75ff, #cc33ff);
}

.body-style{
    -fx-background-image: url("../resources/image/bgr1.jpg");
    -fx-background-size: cover;
}